<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Linked Pad</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">

    <script defer src="../staticRenderer.js"></script>
    <script defer src="../renderer.js"></script>
    <script defer src="../settingsRenderer.js"></script>


    <link rel="stylesheet" href="./colors.css">
    <link rel="stylesheet" href="./LinkedPadStyles.css">
    <link rel="stylesheet" href="./external.css">
    <link rel="stylesheet" href="./settings.css">

</head>

<body>
    <div class="container">
        <div id="header" style="border-bottom: 1px solid gray;">
            <div
                style="text-align: center; position: absolute; left: 15px; top: 8px; display: flex; align-items: center;">

                <label class="switch">
                    <input type="checkbox" id="linked-mode-slider">
                    <span class="slider round"></span>
                </label>

                <p style="margin-left: 10px;">Linked Mode</p>
            </div>

            <div style="position: absolute; right: 15px; top: 8px; display: flex; align-items: center;">
                <p style="margin-left: 25px;">Status: <span id="status" style="color: red;">Disconnected</span></p>

            </div>

            <p id="pad-tab-button">Pad</p>
            <p id="settings-tab-button">Settings</p>
            <!-- <p>Header 3</p> -->

        </div>

        <div class="container" id="pad-tab">
            <div class="row">
                <div class="row-content"
                    style="display: flex; justify-content: center; width: 100%; align-items: center;">

                    <div class="linked-settings">
                        <p style="font-size: 25px;">Colors</p>

                        <div id="color-list">

                        </div>
                        <p style="font-size: 25px; margin-top: 15px; white-space: nowrap;" id="brightness-label">
                            Brightness (50%)</p>
                        <input type="range" min="1" max="100" style="width: 200px;" id="brightness-slider">

                    </div>

                    <table id="pad-preview">
                        <thead id="head">
                            <!-- Header buttons go here -->
                        </thead>
                        <tbody id="table">
                            <!-- Main buttons go here -->
                        </tbody>
                    </table>

                    <div id="key-settings">
                        <div style="display: flex; align-items: center;">
                            <h1 id="selected-key-label">A0</h1>
                            <div style="margin-right: auto;"></div>
                            <p id="close-key-settings">X</p>
                        </div>

                        <div style="display: flex; margin-bottom: 10px;">
                            <p>Keys</p>
                            <label class="switch" style="margin: 0 15px;">
                                <input type="checkbox" id="keys-text-toggle">
                                <span class="slider round"></span>
                            </label>
                            <p>Text</p>
                        </div>

                        <input id="text-toggle" type="text" style="display: none;">


                        <div id="key-toggle" style="display: flex;">
                            <div class="key" style="margin-left: 0;" id="key-slot-0">
                                <p>Ø</p>
                            </div>
                            <div class="key" id="key-slot-1">
                                <p>Ø</p>
                            </div>
                            <div class="key" id="key-slot-2">
                                <p>Ø</p>
                            </div>
                            <div class="key" style="margin-right: 0;" id="key-slot-3">
                                <p>Ø</p>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: end;">
                            <p id="save-button">Save</p>
                        </div>
                    </div>
                    <div class="linked-settings">

                    </div>


                </div>

            </div>


            <div class="row" id="key-list-row">
                <div class="col" id="type-list">
                    <!-- Key groups go here -->
                </div>

                <div class="row-content" id="keys">
                    <!-- Keys go here -->
                </div>

            </div>
        </div>


        <div class="container" id="settings-tab" style="display: none;">
            <div style="margin: 5px; display: flex;">
                <div class="setting-group">
                    <p style="font-size: 25px;">Standalone WiFi Setup</p>

                    <div>
                        <p>WiFi SSID (Name)</p>
                        <input id="wifi-ssid" type="text">
                    </div>

                    <div>
                        <p>WiFi Password</p>
                        <input id='wifi-password' type="password">
                    </div>

                    <p id="send-wifi" class="save-button">Send</p>
                    <p>Current status: <span id="wifi-status">Connecting</span></p>
                </div>
            </div>
        </div>
    </div>




</body>

</html>