/* Put your CSS here! */

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}


#header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header>p {
	font-size: 23px;
	margin: 0 1em;
	color: gray;
	transition: 0.5s;
}

#header>p:hover {
	color: white;
	cursor: pointer;
}

.row {
	border: 1px solid rgb(106, 106, 106);
	border-top: 0;
	height: 100%;
	width: 100%;
	display: flex;
}

.col {
	border-right: 1px solid rgb(106, 106, 106);
	width: 15vw;
	height: 100%;
	padding: 1em;
	min-width: min-content;
}

.col>p {
	font-size: 20px;
	color: gray;
	transition: 0.25s;
	width: fit-content;
	cursor: pointer;
}

.col>p:hover {
	color: white
}


.row-content {
	padding: 1em;
	display: flex;
	width: 85vw;
}

#keys {
	flex-wrap: wrap;
	align-content: start;
}

.key {
	border: 1px solid rgb(149, 149, 149);
	border-radius: 5px;
	width: 55px;
	height: 55px;
	transition: 0.25s;
	margin: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.key>p {
	font-size: 16px;
	color: rgb(214, 214, 214);
	user-select: none;
}

.key:hover {
	border-color: white;
	color: white;
}




table {
	border: 1px solid gray;
	border-radius: 5px;
	border-spacing: 1em;
	min-height: 400px;
	min-width: 300px;
}

tbody:before {
	line-height: 0px;
	content: "\200C";
	display: block;
}

td {
	border: 1px solid rgb(149, 149, 149);
	border-radius: 5px;
	width: 55px;
	height: 55px;
	transition: 0.25s;

	font-size: 16px;
	color: rgb(214, 214, 214);
	user-select: none;
	cursor: pointer;

	text-align: center;
}

td:hover {
	border-color: white;
	color: white;
}


#key-settings {
	border: 0px solid white;
	transition: 0.25s;

	margin-left: 50px;
	height: 400px;
	width: 255px;

	opacity: 0;
	margin-left: 0;
	width: 0;
	pointer-events: none;
}

#text-toggle {
	width: calc(100% - 5px);
	background-color: transparent;
	color: white;
	border: 0.5px solid gray;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 55px;
}

#text-toggle:focus {
	outline: transparent;
}

#close-key-settings {
	cursor: pointer;
}

.save-button {
	border: 1px solid gray;
	border-radius: 5px;
	width: fit-content;
	padding: 2.5px 15px;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.5s;
	color: gray
}

.save-button:hover {
	border-color: white;
	color: white
}

.button-success.button-success {
	border-color: green;
	color: green
}


#key-list-row {
	transition: 0.5s;
	overflow: hidden;
}


.linked-settings {
	display: flex;
	flex-direction: column;
	align-items: end;

	width: 30%;
	/* border: 1px solid white; */

	height: 400px;
	transition: 0.5s;
	margin: 0 15px;
	
	opacity: 0;
	margin: 0 0;
	width: 0;
	pointer-events: none;
}


.color {
	border: 2px solid var(--off-black);
	border-radius: 100%;

	height: 25px;
	width: 25px;
	cursor: pointer;
	margin: 5px;
	transition: 0.05s;
	display: flex;
    justify-content: center;
    align-items: center;
}


#color-list {
	display: flex;
	width: 210px;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}