.setting-group {
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    margin: 15px;
}

.save-button {
    border: 1px solid gray;
    color: gray;
    width: fit-content;
    transition: 0.25s;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
}

.save-button:hover {
    border-color: white;
    color: white;
}

input[type=text], input[type=password] {
    color: white;
    background-color: var(--off-black);
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}